@charset "utf-8";

@import url("ani.css");

#header {position: fixed; left: 0; top: 0; padding: 10px 150px; border-bottom: 1px solid rgba(255,255,255,0.3); width: 100%; z-index: 999;}
#header .inner {height: 50px; display: flex; justify-content: space-between; align-items: center;}
#header .inner h1 a {display: block; width: 100px; height: 100px;}
#header .inner h1 a img {width: 100%;}


#header .gnb {font-family: 'Roboto';}
#header .gnb li {display: inline-block; margin: 0 40px;}
#header .gnb li a {color: #fff; font-size: 16px; text-transform: uppercase; font-weight: 600; letter-spacing: 1.5px;}
#header .util li {display: inline-block; margin: 0 10px;}
#header .util li a {color: rgba(255,255,255,0.7);}


#main_visual {background: url(../images/mv1.jpg) no-repeat center top; background-size: cover; text-align: center; position: relative;}
/* #main_visual .box h2 {color: #fff; text-transform: uppercase; font-size: 100px; font-weight: 600; font-family: 'Roboto'; position: absolute; left: 50%; top: 40%; transform: translateX(-50%);} */
#main_visual .box {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#main_visual .box h2 {
    margin: 0;
    padding: 0;
    font-size: 100px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Roboto';
}
#main_visual .box h2 span {
    display: inline-flex;
    color: #ffb847;
}

#main_visual .box h2 span:nth-child(even) {
    overflow: hidden;
    transition: ease-in-out 0.5s;
    color: #fff;
    border-bottom: 5px solid #ffb847;
    letter-spacing: -1em;
}

#main_visual .box h2:hover span:nth-child(even) {
    letter-spacing: 0;
}
#main_visual .box h2:hover span:nth-child(2) {
    transition-delay: 0s;
}
#main_visual .box h2:hover span:nth-child(4) {
    transition-delay: 0.5s;
}
#main_visual .box h2:hover span:nth-child(6) {
    transition-delay: 1s;
}
#main_visual .box h2:hover span:nth-child(8) {
    transition-delay: 1.5s;
}



#main_visual p {color: rgba(255,255,255,0.7); font-size: 20px; font-family: 'Roboto'; letter-spacing: 12px;  position: absolute; left: 50%; top: 61%; transform: translateX(-50%);}



/* pp1 */

#PP1 .left_pp {float: right; width: 960px;}
#PP1 .left_pp li {float: left; width: 480px; height: 480px; position: relative;}
#PP1 .left_pp dl {transition: opacity 0.4s; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.75); width: 100%; height: 100%; opacity: 0;}
#PP1 .left_pp dt {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
#PP1 .left_pp dd {position: absolute; left: 50%; top: 55%; transform: translateX(-50%);}

#PP1 .left_pp li:hover dl {opacity: 1;}

#PP1 .right_pp {float: left; width: 960px; height: 960px; position: relative;}
#PP1 .right_pp dl {transition: opacity 0.4s; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.6); width: 100%; height: 100%; opacity: 0;}
#PP1 .right_pp dt {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
#PP1 .right_pp dd {position: absolute; left: 50%; top: 53%; transform: translateX(-50%);}

#PP1 .right_pp:hover dl {opacity: 1;}

#PP1 .right_pp img {width: 100%;}

#PP1 dl dt {font-size: 20px; font-family: 'Roboto'; font-weight: 600; text-transform: uppercase; letter-spacing: 2px;}
#PP1 dl dd {transition: 0.5s; font-size: 15px; font-family: 'Roboto'; border-radius: 30px 30px; padding: 5px 40px 6px; color: #fff; font-weight: 500; letter-spacing: 3px; border: 1px solid #fff;}
#PP1 dl dd:hover {
    background: #ffb847; 
    border: 1px solid #ffb847;
    color: #222;
}



#PP1 a {display: block; color: #fff;}

/* pp2 */
#PP2 {position: relative;}
#PP2 .left_pp {float: left; width: 960px;}
#PP2 .left_pp li {float: left; width: 480px; height: 480px; position: relative;}
#PP2 .left_pp dl {transition: opacity 0.4s; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.7); width: 100%; height: 100%; opacity: 0; z-index: 99999;}
#PP2 .left_pp dt {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
#PP2 .left_pp dd {position: absolute; left: 50%; top: 55%; transform: translateX(-50%);}

#PP2 .left_pp li:hover dl {opacity: 1;}

#PP2 .right_pp {float: right; width: 960px; height: 960px; position: relative;}
#PP2 .right_pp dl {transition: opacity 0.4s; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.7); width: 100%; height: 100%; opacity: 0; z-index: 99999;}
#PP2 .right_pp dt {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
#PP2 .right_pp dd {position: absolute; left: 50%; top: 53%; transform: translateX(-50%);}

#PP2 .right_pp:hover dl {opacity: 1;}

#PP2 dl dt {font-size: 20px; font-family: 'Roboto'; font-weight: 600; text-transform: uppercase; letter-spacing: 2px;}
#PP2 dl dd {transition: 0.5s; font-size: 15px; font-family: 'Roboto'; border-radius: 30px 30px; padding: 5px 40px 6px; color: #fff; font-weight: 500; letter-spacing: 3px; border: 1px solid #fff;}
#PP2 dl dd:hover {
    background: #ffb847; 
    border: 1px solid #ffb847;
    color: #222;
}

#PP2 a {display: block; color: #fff;}


/* Aboutme */

#Aboutme {position: relative;}
#Aboutme:before {content: ''; display: block; width: 100%; height: 70px; background: #ffb847; position: absolute; left: 0; top: 0; opacity: 0.6;}
/* #Aboutme:after {content: ''; display: block; width: 100%; height: 70px; background: #ffb847; position: absolute; left: 0; bottom: 0; opacity: 0.6;} */

#Aboutme h2 {font-size: 50px; color: #222; font-weight: 600; text-transform: uppercase; position: absolute; left: 50%; top: 150px; transform: translateX(-50%);}
#Aboutme h2 span {color: #ffb847;}

.about_txt {font-size: 18px; color: #222; position: absolute; right: 420px; top: 350px;}
.about_txt span {font-weight: 600;}
.about_txt li {width: 500px; border-bottom: 1px solid #ddd; padding: 22px 0;}
.about_txt li a {font-size: 18px; color: #222;}
.about_txt li:first-child {border-top: 1px solid #ddd; }

.photo {width: 400px; height: 500px; position: absolute; left: 500px; top: 300px; font-size: 0; background: url(../images/프로필1.png) no-repeat center center;}
.photo::before {content: ''; display: block; background: #ffb847; position: absolute; left: 0; top: 0; width: 400px; height: 500px; z-index: -99; opacity: 0.6;}


/* skill */
#Skill {position: relative; background: linear-gradient( rgba(32,39,58,1) 0%, rgba(77,96,110,1) 100%);}


#Skill h2 {font-size: 50px; color: #fff; font-weight: 600; text-transform: uppercase; position: absolute; left: 50%; top: 120px; transform: translateX(-50%);}
#Skill h2 span {color: #ffb847;}

.charts {position: absolute; left: 50%; top: 350px; transform: translateX(-50%); width: 1500px;}
.chart {position: relative; float: left; width: 300px; height: 300px; text-align: center;}

.chart .desc h3 {font-size: 45px; position: absolute; left: 50%; top: 50px; transform: translateX(-50%); font-weight: 600;}

.chart .desc dl{position: absolute; left: 50%; top: 220px; transform: translateX(-50%); width: 100%;}
.chart .desc dt {font-size: 25px;}
.chart .desc dd {font-size: 16px; opacity: 0.7; padding-top: 10px;}


#Epilogue {position: relative;}
#Epilogue:before {content: ''; display: block; width: 100%; height: 70px; background: #ffb847; position: absolute; left: 0; top: 0; opacity: 0.6;}

#Epilogue h2 {font-size: 50px; color: #222; font-weight: 600; text-transform: uppercase; position: absolute; left: 50%; top: 150px; transform: translateX(-50%);}
#Epilogue h2 span {color: #ffb847;}

#Epilogue p {font-size: 20px; color: #666; position: absolute; left: 50%; top: 250px; transform: translateX(-50%);}

#Epilogue {position: relative; background: #fff;}
#Epilogue footer {width: 100%; height: 120px; color: rgba(238,238,238,0.5); font-size: 20px; background: #1b1b1b; position: absolute; bottom: 0; font-family: 'Roboto';}
#Epilogue footer p {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}



#fp-nav ul li a span, .fp-slidesNav ul li a span {background: #fff; box-shadow: 0px 0px 6px rgba(32,39,58,0.7);}
#fullpage {color: #fff; font-size: 100px; text-align: center;}